footer {
  background:  rgb(72, 17, 90);
  color:  rgba(246, 194, 248, 0.571);
  flex: 0 0 auto;
  display: flex;
  margin: 1em 0 1em 0;
  /* padding: 1em; */
  width: 100%;
  justify-content: center;
}

footer a {
  color:  white;
  text-decoration: none;
  font-family: 'Julius Sans One', sans-serif;
  padding: 5px;
  margin: 5px;
  display: inline-block;

}

a:hover {
  text-decoration: none;
  color: white;
}


a:active {
  text-decoration: none;
  color: white;
}



